.header {
    background-image: linear-gradient(to top, #4d4d4d 0%, black 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
}

.logo {
    width: 250px;
}

.newTaskForm {
    display: flex;
    position: absolute;
    height: 54px;
    bottom: -27px;
    width: 100%;
    max-width: 736px;
    gap: 8px;
    padding: 0 1rem;
}

.newTaskForm input {
    height: 100%;
    flex: 1;
    color: #fff;
    background: #262626;
    border: 1px solid #0D0D0D;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    box-shadow: none;
}

/* .newTaskForm input:focus {
    box-shadow: #4EA8DE 0px 0px 10px 1px;
} */

.newTaskForm input::placeholder {
    color: #808080;
}

.newTaskForm button {
    height: 100%;
    padding: 0 16px;
    background: rgb(28, 102, 145);
    color: #fff;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    /* font-weight: 700; */
    font-size: 14px;
    transition: background 0.2s ease-in-out;
    box-shadow: none;
}

.newTaskForm button:hover {
    background: #18597e;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.newTaskForm button:active {
    transform: scale(0.98);
}

@media (max-width: 380px) {
    .newTaskForm input {
        width: 30px;
    }
}